<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="" />
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
</head>

<body class="box-border">
    <main class="bg-white pt-8 pb-16 dark:bg-gray-900 lg:pt-16 lg:pb-24">
        <div class="mx-auto flex max-w-screen-xl justify-between px-4">
            <article
                class="format format-sm sm:format-base lg:format-lg format-blue dark:format-invert mx-auto w-full max-w-2xl">
                <header class="not-format mb-4 lg:mb-6">
                    <address class="mb-6 flex items-center not-italic">
                        <div class="mr-3 inline-flex items-center text-sm text-gray-900 dark:text-white">

                            <div>
                                <a id="author-name" href="<%= authors[0].username %>" rel="author"
                                    class="text-xl font-bold text-gray-900 dark:text-white">
                                    <%= authors[0].displayName %>
                                </a>

                                <p id="post-date" class="text-base font-light text-gray-500 dark:text-gray-400"><time
                                        pubdate datetime="<%= new Date(parseInt(date.fullDate)) || '' %>"
                                        title="<%=  new Date(parseInt(date.fullDate))  || '' %>">
                                        <%= new Date(parseInt(date.fullDate)).toDateString() || '' %>
                                    </time></p>
                            </div>
                        </div>
                    </address>
                    <h1 id="post-title"
                        class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 dark:text-white lg:mb-6 lg:text-4xl">
                        <%= title %>
                    </h1>
                </header>
                <div id="post-content" class="pb-6">
                    <img class="px-4" src="<%= images.header %>" alt="header-img">
                    <p class="text-white">
                        <%= content %>
                    </p>
                </div>

                <section class="not-format">
                    <div class="mb-6 flex items-center justify-between">
                        <h2 class="text-lg font-bold text-gray-900 dark:text-white lg:text-2xl">Discussion (20)</h2>
                    </div>
                    <form class="mb-6">
                        <div
                            class="mb-4 rounded-lg rounded-t-lg border border-gray-200 bg-white py-2 px-4 dark:border-gray-700 dark:bg-gray-800">
                            <label for="comment" class="sr-only">Your comment</label>
                            <textarea id="comment" rows="6"
                                class="w-full border-0 px-0 text-sm text-gray-900 focus:ring-0 dark:bg-gray-800 dark:text-white dark:placeholder-gray-400"
                                placeholder="Write a comment..." required></textarea>
                        </div>
                        <button type="submit"
                            class="bg-primary-700 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800 inline-flex items-center rounded-lg py-2.5 px-4 text-center text-xs font-medium text-white focus:ring-4">Post
                            comment</button>
                    </form>
                    <% if (comments.length> 0) { %>
                        <% comments.forEach(function(comment, index) { %>
                            <article class="mb-6 rounded-lg bg-white p-6 text-base dark:bg-gray-900">
                                <footer class="mb-2 flex items-center justify-between">
                                    <div class="flex items-center" id="comment-<%= index %>">
                                        <p class="mr-3 inline-flex items-center text-sm text-gray-900 dark:text-white">
                                            <%= comment.username %>
                                        </p>
                                        <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate
                                                datetime="<%= comment.date %>"
                                                title="<%= new Date(parseInt(comment.date)) %>">
                                                <%= new Date(parseInt(comment.date)) %>
                                            </time></p>
                                    </div>
                                </footer>
                                <p id="comment-content" class="text-white">
                                    <%= comment.content %>
                                </p>
                            </article>
                            <% }) %>
                                <% } else { %>
                                    <h2 class="text-lg font-bold text-gray-900 dark:text-white lg:text-2xl">No comments
                                        yet</h2>
                                    <% } %>

                </section>
            </article>
        </div>
    </main>

    <aside id="related-posts" aria-label="Related articles" class="bg-gray-50 py-8 dark:bg-gray-800 lg:py-24">
        <div class="mx-auto max-w-screen-xl px-4">
            <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Related articles</h2>
            <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
                <div class="relative w-full p-1 " id="post-slug">
                    <a id="post-slug" href="#">
                        <img id="post-img"
                            class="hover:brightness-50 transition duration-500 brightness-75  block object-cover object-center w-full h-full rounded-lg"
                            src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp" alt="">
                        <div
                            class="absolute object-corner object-cover rounded-lg top-1/3 left-0 right-0 p-4 text-white  overflow-hidden">
                            <h2 class="text-xl text-center font-bold" id="post-title">Text Overlay</h2>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </aside>

    <section class="bg-white dark:bg-gray-900">
        <div class="mx-auto max-w-screen-xl py-8 px-4 lg:py-16 lg:px-6"></div>
    </section>

    <footer class="bg-gray-50 dark:bg-gray-800">
        <div class="mx-auto max-w-screen-xl p-4 py-6 md:p-8 lg:p-10">
            <div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-5">
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-gray-900 dark:text-white">Company</h2>
                    <ul class="text-gray-500 dark:text-gray-400">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">About</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Careers</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Brand Center</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Blog</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-gray-900 dark:text-white">Help center</h2>
                    <ul class="text-gray-500 dark:text-gray-400">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Discord Server</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Twitter</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Facebook</a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Contact Us</a>
                        </li>
                    </ul>
                </div>

            </div>
            <hr class="my-6 border-gray-200 dark:border-gray-700 sm:mx-auto lg:my-8" />
            <div class="text-center">

                <span class="block text-center text-sm text-gray-500 dark:text-gray-400">© 2021-2022 <a href="#"
                        class="hover:underline">Flowbite™</a>. All Rights Reserved. </span>
                <ul class="mt-5 flex justify-center space-x-5">
                    <li>
                        <a href="#" class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </footer>

</body>

</html>